* {
  font-family: monospace;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

a {
  display: block;
  font-weight: bold;
  font-size: 3em;
  text-decoration: none;
}

a:hover {
  filter: brightness(120%);
}

a:active {
  filter: brightness(130%);
}

p {
  font-weight: bold;
  margin-bottom: 5%;
}

label {
  user-select: none;
}

input[type=radio] {
  vertical-align: middle;
  margin-top: -1px;
}

input {
  text-overflow: ellipsis;
  margin-top: 5%;
  zoom: 2.5;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;

  height: 30vh;
  margin-top: 5%;
  box-shadow: 0 0 1px #00000020;
}
